h1 {
	text-align:center;
	color: #191970;
}

p.paragen {
	text-align: left;
	color: #333333;
	text-indent: 5%;
	
}
h2{
	color:#333333;
}
p.single {
	text-align: left;
	color: #333333;
}
p.pankti {
	text-align:left;
	color: #333333;
	margin-left:10%;
	
}
div.centerdiv {
	margin: auto;
	width: 70%;
}